.icon-container{
    display: flex;
    padding-right: 200px;
}

.icon-box{
    color: white;
    flex: 1 0 0;
    margin: 50px;
    align-items: center;
    text-align: center;
    background-color: #2dbfc7;
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
    box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
    height: 500px;
}

.icon-circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}

.icon-circle svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
}

#about-heading{
    padding: 50px;
    padding-right: 200px;
    padding-top: 100px;
}

#about-heading h1{
    font-size: 10rem;
    font-weight: 500;
    line-height: 65px;
}

#about-heading p{
    opacity: 0.5;
    margin-left: 10px;
    font-size: 2rem;
}

@media(max-width: 700px){
    .icon-container{
        display: inline-block;
        padding-right: 50px;
        width: calc(100% - 80px);
    }
    .icon-box{
        padding: 30px;
        flex: none;
        margin-right: 0px;
        margin-left: 50px;
    }
    #about-heading{
        padding-right: 80px;

    }
}