html{
    overflow-x: hidden;
}

.whole-page{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url(../images/mountains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.div-below{
    padding: 80px;
    padding-top: calc(100vh + 80px);
}

.number-stats{
    text-align: center;
}