@font-face {
    font-family:"bd-viewmaster";
    src:url("https://use.typekit.net/af/e7bc81/00000000000000003b9af9f8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/e7bc81/00000000000000003b9af9f8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/e7bc81/00000000000000003b9af9f8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
    font-style:normal;font-weight:300;
}
    
@font-face {
    font-family:"bd-viewmaster";
    src:url("https://use.typekit.net/af/2bf576/00000000000000003b9af9f9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/2bf576/00000000000000003b9af9f9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/2bf576/00000000000000003b9af9f9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"myriad-pro";
    src:url("https://use.typekit.net/af/6d5542/00000000000000000001709a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/6d5542/00000000000000000001709a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/6d5542/00000000000000000001709a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-style:normal;font-weight:400;
}

html, body{
    overflow-x: hidden;
    font-family: "bd-viewmaster", sans-serif;
}

.alt{
    font-family: 'myriad-pro', serif;
}

#cover{
    background-color: white;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
}

@keyframes fadeInUp {
    from { 
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

section{
    position: relative;
}

.icon-container{
    display: flex;
    padding-right: 200px;
    padding-bottom: 100px;
}

.icon-box{
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    text-align: center;
}

.icon-circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 4px dotted rgba(0,0,0,0.1);
    position: relative;
    margin-top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.icon-circle svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
}
.about-container{
    display: flex;
}
.about-content{
    flex: 1 0 0;
    height: 400px;
}

.schedule-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-left: 180px; 
    margin-right: 40px;
}

.contact-outer-container{
    display: flex;
    text-align: center;
}

#map{
    flex: 3 1 0;
    margin: 0px;
    background-color: white;
    background: url(../images/map.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: center; 
}

#map-pin{
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    font-size: 6rem;
    padding-bottom: 50px;
    color: #082f40;
}

#content-container{
    flex: 2 1 0;
    padding: 50px;
    padding-right: 200px;
    margin: 0px;
    position: relative;
    z-index: 10;
}

/*To be deleted after schedule goes up*/
#schedule{
    margin-bottom: 100px;
    height: 650px;
}

.schedule-card{
    width: calc(50% - 40px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
    flex-grow: 1;
    margin: 20px;
}

/*To be deleted after schedule goes up*/
.schedule-filler{
    position: relative; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 9rem; 
    text-align: center; 
    line-height: 70px; 
}

/*To be deleted after schedule goes up*/
.schedule-container h1{
    padding-top: 150px;
}

.schedule-container p{
    line-height: 40px;
    font-size: 7rem;
}

.circle-border{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 4px dotted black;
}

.card-icon{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 4rem;
    padding-top: 25px;
}

.card-title{
    width: calc(100% - 40px);
    color: white;
    padding: 20px;
    font-size: 5rem;
    text-align: center;
    position: relative;
}

.card-line-items{
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    font-family: 'myriad-pro', sans-serif;
}

.line-item-title{
    flex-grow: 1;
    text-align: center;
    padding: 20px;
    color: white;
}

.line-item-content{
    flex-grow: 1000;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.accordion-container{
    padding-top: 70px;
}

.accordion {
    position: relative;
    background-color: white;
    color: #444;
    cursor: pointer;
    width: calc(100% - 300px);
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 5px;
    margin-right: 260px; 
    margin-left: 40px;
    padding: 15px;
    padding-left: 15px;
    padding-right: 70px;
    font-size: 3rem;
    border-radius: 6px;
    line-height: 18px;
}

.accordion-icon{
    position: absolute;
    right: 30px;
    top: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0px;
    padding-right: 185px;
    padding-left: 55px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 1.75rem;
} 

.panel p{
    font-family: "myriad-pro", sans-serif;
}

#sponsor-container{
    margin-left: 120px;
    padding-top: 50px;
}

.sponsor-row{
    margin: 100px 0px;
    display: flex;
    justify-content: space-around;
}

.sponsor-logo{
    height: 50px;
}

.contact-info-row{
    position: relative;
}

.contact-info-row svg, .contact-info-row p{
    font-size: 3rem;
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

@media(max-width: 700px){
    .icon-container{
        display: inline-block;
        padding-right: 80px;
    }
    .icon-box{
        width: calc(100% - 60px);
        padding: 30px;
    }
    .about-container{
        display: inline;
    }
    .about-content{
        width: 100%;
    }
    .schedule-container{
        margin-left: 80px;
        margin-right: 20px;
    }
    .schedule-card{
        width: 100%;
    }
    .accordion-container{
        padding-top: 40px;
    }
    .accordion{
        margin-left: 20px;
        margin-right: 140px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 40px;
        width: calc(100% - 160px);
        font-size: 2rem;
    }
    .accordion-icon{
        right: 15px;
    }
    .panel{
        font-size: 1.25rem;
        padding-left: 30px;
        padding-right: 90px;
    }
    #sponsor-container{
        margin-left: 100px;
        margin-right: 30px;
        padding-top: 100px;
    }
    .sponsor-row{
        flex-wrap: wrap;
        margin: 0px;
    }
    .sponsor-logo{
        max-width: 100%;
        margin: 30px 0px;
    }
    .contact-outer-container{
        display: inline;
    }
    #map, #content-container{
        width: 100%;
    }

    #map{
        height: 500px;
    }
    #content-container{
        padding: 50px;
        width: calc(100% - 100px);
    }
    #contact-spiral{
        height: calc(100% - 500px) !important;
        top: 510px;
        right: -200px !important;
    }
    footer{
        margin-bottom: 50px;
    }

    /*To be deleted after schedule goes up*/
    .schedule-container h1{
        font-size: 6rem;
        line-height: 50px;
        padding-top: 50px;
    }
    .schedule-container p{
        font-size: 4rem;
        line-height: 20px;
    }

    #schedule{
        height: 400px;
    }
}