html, body{
    overflow-x: hidden;
    font-family: bd-viewmaster, sans-serif;
}

.alt{
    font-family: 'Zilla Slab', serif;
}

@keyframes fadeInUp {
    from { 
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}