#sponsor-container{
    margin-left: 120px;
    padding-top: 50px;
}

.sponsor-row{
    margin: 100px 0px;
    display: flex;
    justify-content: space-around;
}

.sponsor-logo{
    height: 50px;
}

@media(max-width: 700px){
    #sponsor-container{
        margin-left: 100px;
        margin-right: 30px;
        padding-top: 100px;
    }
    .sponsor-row{
        flex-wrap: wrap;
        margin: 0px;
    }
    .sponsor-logo{
        max-width: 100%;
        margin: 30px 0px;
    }
}