#sponsor-container{
    margin-left: 140px;
    padding-top: 50px;
}

.sponsor-row{
    margin: 100px 0px;
    display: flex;
    justify-content: space-around;
}

.sponsor-logo{
    height: 90px;
}

.tier-headline{
    font-size: 7rem;
    text-align: center;
    font-weight: bolder;
    color: #2dbfc7;
    margin: 0px;
    line-height: 50px;
}

@media(max-width: 700px){
    #sponsor-container{
        margin-left: 100px;
        margin-right: 30px;
        padding-top: 100px;
    }
    .sponsor-row{
        flex-wrap: wrap;
        margin: 0px;
    }
    .sponsor-logo{
        max-width: 100%;
        margin: 30px 0px;
    }

    .sponsor-filler{
        padding-bottom: 0px !important;
    }
}