.ml14, .ml15, .ml16, .ml17, .ml18 {
    font-weight: 200;
  }
  
  .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: black;
    transform-origin: 100% 100%;
    bottom: 80px;
  }
  
  .letter {
    display: inline-block;
    opacity: 0;
  }