.whole-page{
    position: relative;
    width: 100%;
    height: 1000px;
    background: url(../images/landing.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: center; 
}

#menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:60px; 
	background-color:white;
	color: black;
    z-index:30;
}

.nav-items{
    display: inline-block;
    margin: 0px 30px;
    margin-top: 15px;
    animation: fadeInUp 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    opacity: 0;
    animation-delay: 1s;
}

#left-nav{
    display: inline-block;
}
#right-nav{
    position: fixed;
    right: 0px;
    display: inline-block;
}

#register{
    background-color: #2dbfc7;
    color: white;
    font-size: 2rem;
    padding: 3px;
    height: 50px;
    width:  200px;
    border: none;
    border-radius: 20px;
}

#title{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    color: #082f40;
    z-index: 31;
}

#logo-container{
    opacity: 0;
    position: absolute;
    right: 8%;
    top: 120px;
    text-align: center;
    animation: fadeInUp 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    animation-delay: 0.5s;
}

#logo{
    height: 200px;
    width: 200px;
    margin: 0px;
}

#logo-title{
    margin-bottom: 40px;
    color: #082f40;
}

@media(max-width: 700px){
    .whole-page{
        height: 700px;
    }
    #logo-container{
        width: 100%;
        right: auto;
        top: 150px;
    }
    #menu{
        height: 40px;
    }
    #right-nav{
        width: 100%;
        text-align: center;
    }
    .nav-items{
        margin: 10px;
        font-size: 1.25rem;
    }
    #left-nav{
        display: none;
    }
}

