@keyframes revealLeftToRight1 {
    0%   { max-width: 0%; }
    100% { max-width: 1200px; }
}
@keyframes revealLeftToRight2 {
    0%   { max-width: 0%; padding-right: 30px;}
    100% { max-width: 970px; padding-right: 30px; }
}
@keyframes revealLeftToRight3 {
    0%   { max-width: 0%; padding-right: 30px; }
    100% { max-width: 890px; padding-right: 30px; }
}

@keyframes revealLeftToRight1Medium{
    0%   { max-width: 0%; }
    100% { max-width: 800px; }
}
@keyframes revealLeftToRight2Medium{
    0%   { max-width: 0%; padding-right: 30px;}
    100% { max-width: 600px; padding-right: 30px; }
}
@keyframes revealLeftToRight3Medium{
    0%   { max-width: 0%; padding-right: 30px; }
    100% { max-width: 400px; padding-right: 30px; }
}

@keyframes revealLeftToRight1Small{
    0%   { max-width: 0%; }
    100% { max-width: 500px; }
}
@keyframes revealLeftToRight2Small{
    0%   { max-width: 0%; padding-right: 30px;}
    100% { max-width: 300px; padding-right: 30px; }
}
@keyframes revealLeftToRight3Small{
    0%   { max-width: 0%; padding-right: 30px; }
    100% { max-width: 200px; padding-right: 30px; }
}

@keyframes revealLeftToRight1ExtraSmall{
    0%   { max-width: 0%; }
    100% { max-width: 300px; }
}
@keyframes revealLeftToRight2ExtraSmall{
    0%   { max-width: 0%; padding-right: 30px;}
    100% { max-width: 200px; padding-right: 30px; }
}
@keyframes revealLeftToRight3ExtraSmall{
    0%   { max-width: 0%; padding-right: 30px; }
    100% { max-width: 100px; padding-right: 30px; }
}

.whole-page{
    position: relative;
    width: 100%;
    height: 1000px;
    background: url(../images/landing.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: center; 
}

#menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:100px; 
	background-color:rgba(221,221,221,0.8);
	color: #FFFFFF;
	z-index:30;
    display: none;
}

#register{
    position: fixed;
    left: 20px;
    top: 20px;
    opacity: 0;
    animation: fadeInUp 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    animation-delay: 1s;
    background-color: #2dbfc7;
    color: white;
    font-size: 2rem;
    padding: 3px;
    height: 50px;
    width:  250px;
    border: none;
    z-index: 31;
}

#title{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    opacity: 0;
    animation: fadeInUp 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    animation-delay: 1s;
    color: #082f40;
    z-index: 31;
}

#logo{
    position: fixed;
    right: 20px;
    top: 20px;
    opacity: 0;
    animation: fadeInUp 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    animation-delay: 1s;
    z-index: 31;
    height: 60px;
    width: 60px;
}

#header-container{
    right: 0px;
    bottom: 50px;
}

.header{
    width: 1200px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: revealLeftToRight1 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    background-color: white;
    direction: rtl;
    text-align: right;
    padding-right: 30px;
    position: absolute;
    right: 0px;
    bottom: 330px;
}

#header2{
    width: 970px;
    animation: revealLeftToRight2 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation-delay: 0.1s;
    max-width: 0px;
    padding-right: 0px;
    margin-left: 240px;
    bottom: 190px;
}

#header3{
    width: 890px;
    animation: revealLeftToRight3 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation-delay: 0.2s;
    max-width: 0px;
    padding-right: 0px;
    margin-left: 320px;
    bottom: 50px;
}

.header-text{
    font-size: 10rem;
    margin: 0px;
}

@media(max-width: 1200px){
    .header{
        width: 800px;
        animation: revealLeftToRight1Medium 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
        bottom: 290px;
    }
    #header2{
        width: 600px;
        animation: revealLeftToRight2Medium 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
        bottom: 170px;
    }
    #header3{
        width: 400px;
        animation: revealLeftToRight3Medium 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    }
    .header-text{
        font-size: 8rem;
    }
}

@media(max-width: 800px){
    .whole-page{
        height: 800px;
    }
    .header{
        width: 500px;
        animation: revealLeftToRight1Small 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
        bottom: 230px;
    }
    #header2{
        width: 300px;
        animation: revealLeftToRight2Small 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
        bottom: 140px;
    }
    #header3{
        width: 200px;
        animation: revealLeftToRight3Small 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    }
    .header-text{
        font-size: 6rem;
    }
}

@media(max-width: 550px){
    .whole-page{
        height: 600px;
    }
    .header{
        width: 300px;
        animation: revealLeftToRight1ExtraSmall 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
        bottom: 150px;
    }
    #header2{
        width: 200px;
        animation: revealLeftToRight2ExtraSmall 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
        bottom: 100px;
    }
    #header3{
        width: 100px;
        animation: revealLeftToRight3ExtraSmall 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    }
    .header-text{
        font-size: 3rem;
    }

    #logo{
        height: 40px;
        width: 40px;
    }

    #register{
        width: 130px;
        padding: 2px;
        height: 40px;
        font-size: 1.25rem;
    }

    #menu{
        height: 80px;
    }
}